!!! 5

%html

  %head
    %title Trampfire
    %link{ rel: 'stylesheet', href: 'bootstrap-1.2.0.min.css' }
    %link{ rel: 'stylesheet', href: 'application.css' }
    %script{ src: 'jquery-1.6.3.min.js' }
    %script{ src: 'jquery.ba-resize.min.js' }
    %script{ src: 'json2.js' }
    %script{ src: 'underscore.js' }
    %script{ src: 'backbone.js' }
    %script{ src: 'application.js' }

  %body
    .container
      #navigation
        %h1 Trampfire
        %a{ href: "/logout" } Log Out

      #main
        = yield
