@import "semantic_grid";

#navigation {
  @include col(24);
  @include last();
}

#navigation {
  background-color: #ffffff;
  width: 100%;
  padding-bottom: 20px;
  position: fixed;
}

#navigation h1 {
  display: inline;
}

#main {
  @include col(24);
  @include last();
}

#left-main {
  @include col(16);
  top: 40px;
}

#transcript-wrapper {
  overflow: hidden;
}

#transcript {
  padding-bottom: 50px;
}

#transcript dl {
  padding-bottom: 10px;
  border-bottom: thin dotted #dfdfdf;
}

#transcript dl:last-child {
  border-bottom: none;
}

#chat {
  border-top: 3px solid #cfcfcf;
  position: fixed;
  bottom: -10px;
  background-color: #ffffff;
  padding-bottom: 20px;
}

#chat form {
  margin-top: 20px;
}

#outgoing {
  width: 555px;
}

#sidebar {
  @include prepend(18);
  @include col(6);
  position: fixed;
  margin-top: 50px;
}

#sidebar form input[type='text'] {
  width: 130px;
}

#new-tag {
  @include col(6);
}

#tags {
  @include col(6);
}

#roster {
  @include col(6);
}
