%a{ href: "/logout" } Log Out

%form{ action: "/tags", method: "post" }
  %input{ type: 'text', name: 'tag[name]' }
  %input.btn.primary{ type: 'submit', value: "Create Tag" }

%ul#tags
  - Tag.all.each do |tag|
    %li= tag.name

#transcript{ data: { email: "#{env['warden'].user.email}" } }
  %p Initial

%form
  %input#outgoing.xlarge{ type: 'textarea' }
  %input.btn.primary{ type: 'submit' }
