// This won't follow symlinks, so it gets the stylesheets for inactive bots, too.
// You can evaluate ERB later, but only calling require_asset directly. No require_tree.
// If you give it one of the PATH constants, it says require_tree must be relative.
// Meh.  I tried.
//= require_tree ../../../../socket_server/bots
//
//= require vendor/load_orderer

@import "semantic_grid";

#navigation {
  @include col(24);
  @include last();
}

#navigation {
  background-color: #ffffff;
  width: 100%;
  padding-bottom: 20px;
  position: fixed;
}

#navigation h1 {
  display: inline;
}

#main {
  @include col(24);
  @include last();
}

#left-main {
  @include col(16);
  top: 40px;
}

ul.tabs {
  background-color: white;
  position: fixed;
  margin-top: 40px;
}

#add-tab a {
  font-weight: bold;
  font-size: 150%;
  background: #57A957;
}

#transcript-wrapper {
  overflow: hidden;
}

#transcript {
  margin-top: 70px;
  padding-bottom: 60px;
}

#transcript dl {
  padding-bottom: 10px;
  border-bottom: thin dotted #dfdfdf;
}

#transcript dl:last-child {
  border-bottom: none;
}

#chat {
  border-top: 3px solid #cfcfcf;
  position: fixed;
  bottom: -10px;
  background-color: #ffffff;
  padding-bottom: 20px;
}

#chat form {
  margin-top: 20px;
}

#chat .control-wrapper {
  padding: 7px 20px 7px 20px
}

#outgoing {
  width: 515px;
}

#sidebar {
  @include prepend(18);
  @include col(6);
  position: fixed;
  margin-top: 50px;
}

#sidebar form input[type='text'] {
  width: 130px;
}

#new-tag {
  @include col(6);
}

#tags {
  @include col(6);
}

#roster {
  @include col(6);
}
