%form{ action: "/bots/github/preferences/watch", method: "post" }
  %label Owner Name
  %input.medium{ type: "text", name: "repository_watch[owner_login]" }

  %label Repository Name
  %input.medium{ type: "text", name: "repository_watch[repository_name]" }

  %label Tag
  %input.medium{ type: "text", name: "repository_watch[destination_tag_name]" }

  %input.btn.primary{ type: 'submit', value: "Watch Repository" }
