%h3 Current projects:
%ul
  - @projects.each do |project|
    %li Clone URL: #{project["clone_url"]}, Heroku App Name: #{project["heroku_app_name"]}, Tag: #{project["destination_tag_name"]}

%form{ action: "/bots/deployment/preferences/projects", method: "post" }

  %label Clone URL
  %input.medium{ type: "text", name: "project[clone_url]" }

  %label Heroku App Name
  %input.medium{ type: "text", name: "project[heroku_app_name]" }

  %label Destination Tag
  %input.medium{ type: "text", name: "project[destination_tag_name]" }

  %input.btn.primary{ type: 'submit', value: "Save Project" }
