!!! 5

%html

  %head
    %title Trampfire
    %link{ rel: 'stylesheet', href: 'assets/application.css' }
    %script{ src: 'assets/application.js' }

  %body{ data: { email: "#{env['warden'].user.email}" } }
    .container
      #navigation
        %h1 Trampfire
        %a{ href: "/logout" } Log Out

      #main
        = yield
