#left-main
  #transcript-wrapper.well
    #transcript{ data: { messages: @messages.to_json } }

  #chat
    %form
      .control-wrapper
        %input#outgoing.xlarge.disabled{ type: 'textarea' }
        %input.btn.success.disabled{ type: 'submit' }
    %strong Active Tag:
    %em.activeTag loading...

#sidebar
  %form#new-tag.well{ action: "/tags", method: "post" }
    %input.small{ type: 'text', name: 'tag[name]' }
    %input.btn.primary{ type: 'submit', value: "Create Tag" }

  #tags.well
    %h3 Tags
    %ul#tags.pills
      - Tag.all.each do |tag|
        %li
          %a{ href: "#" }= tag.name

  #roster.well
    %h3 Roster
    %ul.unstyled
