#left-main
  %ul#tab-bar.tabs{ data: { tags: @tags.as_json.to_json }}
    - env['warden'].user.tabs.each do |tab|
      %li{ data: { tab: tab.as_json(include: :tags).to_json } }
        %a{ href: "#" }= tab.name

  #transcript-wrapper.well
    #transcript{ data: { messages: @messages.as_json.to_json } }

  #chat
    %form
      .control-wrapper
        %input#outgoing.xlarge.disabled{ type: 'textarea' }
        %input.btn.success.disabled{ type: 'submit' }
    %strong Active Tag:
    %em.activeTag loading...

#sidebar
  %form#new-tag.well{ action: "/tags", method: "post" }
    %input.small{ type: 'text', name: 'tag[name]' }
    %input.btn.primary{ type: 'submit', value: "Create Tag" }

  #roster.well
    %h3 Roster
    %ul.unstyled
